name: Static Checks
on:
    pull_request: {}
    push: {}
jobs:
    go_lint:
        name: Go Lint
        runs-on: ubuntu-latest
        steps:
            - name: Set up Go 1.x
              uses: actions/setup-go@v6
              with:
                  go-version: ^1.19
            - uses: actions/checkout@master
            - name: Run linter
              uses: golangci/golangci-lint-action@v7
              with:
                  version: v2.10
                  args: -E=errcheck,govet,unused,ineffassign,staticcheck,revive,misspell,asciicheck,bodyclose,dogsled,durationcheck,errname,forbidigo --timeout=30m0s
